.welcome {
    background-image: url(https://raw.githubusercontent.com/audreynjiraini/Independent-Project-3/master/assets/backgrounds/h_img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 15%;
    text-align: center;
}
#logo {
    padding-bottom: 1%;
}
#mouse {
    margin-top: 10%;
    padding-bottom: 2%;
}
.center {
    color: white;
    text-align: center;
}
.about-us {
    text-align: center;
    padding: 3%;
}
.services {
   background-image: url(https://raw.githubusercontent.com/audreynjiraini/Independent-Project-3/master/assets/backgrounds/s_image.jpg);
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    padding: 8%;
    text-align: center;
}
.what-we-do {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
}
.portfolio {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
}
.col-md-3 {
    padding-right: 20%;
}
.contact-us {
    background-image: url(https://raw.githubusercontent.com/audreynjiraini/Independent-Project-3/master/assets/backgrounds/c_image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 3%;
}
#contact-us {
    color: white;
}
input {
    width: 33%;
    margin-left: 1%;
    margin-right: 1%;
    background: transparent;
}
#message {
    background: transparent;
}
::placeholder {
    color: white;
    padding-left: 2%;
}
.socialicons {
    padding: 3%;
    text-align: center;
}
.icon {
    padding: 1%;
}
.footer {
    text-align: center;
}
h6 {
    font-size: x-small;
}